<div class="container">
	<h1 class="headings">
		<center>
			All Alpha Bloggers
		</center>
	</h1>
	<br>
	<div class="d-flex justify-content-center">
		<%= will_paginate %>
	</div>
	<% @users.each do |user| %>
		<center>
			<ul class="listing">
				<div class="card mb-3">
					<div class="card-body">
						<li><%= link_to gravatar_for(user), user_path(user) %></li>
						<li class="article-title">
							<%= link_to user.username, user_path(user) %>
						</li>
						<li>
							<small>
								<%= pluralize(user.articles.count, "article") if user.articles %>
							</small>
						</li>
						<% if logged_in? and current_user.admin? %>
							<li>
								<%= link_to "Delete this user", user_path(user), method: :delete,
									data: { confirm: "Are you sure you want to delete the user and all their articles?" } %>
							</li>
						<% end %>
					</div>
				</div>
			</ul>	
		</center>
	<% end %>
	<div class="d-flex justify-content-center">
		<%= will_paginate %>
	</div>
</div>