<div class="container">
  <h1 class="headings">
		<center>
			Welcome to <%= @user.username %>'s page
		</center>
	</h1>
	<br>
  <center>
    <ul class="listing">
      <div class="card mb-3">
        <div class="card-body">
          <li><%= gravatar_for @user %></li>
        </div>
      </div>
    </ul>

    <h4>
      <%= @user.username %>'s articles
    </h4>
    <br>
    <div class="d-flex justify-content-center">
      <%= will_paginate @user_articles %>
    </div>
    <%= render 'articles/article', obj: @user_articles %>
    <div class="d-flex justify-content-center">
      <%= will_paginate @user_articles %>
    </div>
  </center>
</div>s